.orderpageheader{
    display:flex;
    gap:20px;
    align-items:center;
    justify-content: space-between;
  
    border-radius:10px;
    padding:15px 5px;
    margin-bottom: 0px;
}
.orderdetails{
  display:flex;
    gap:20px;
    align-items:flex-start;
    justify-content: space-between;
    border:1px solid var(--bordergrey);
    border-radius:10px;
    padding:15px;
   
  width:100%;
}
.cancel-button,.invoicebutton{
  background-color: white;
  border: 1px solid var(--primary);
  border-radius:5px;
  color:var(--primary);
  padding:10px 15px;
}
.cancelled-status{
  font-size: 15px;
  font-weight: 500;
  color: grey !important;
  border-bottom:0px !important;
  text-decoration: none;
}
/* .invoicebutton{
  padding:10px 15px;
  background-color: transparent;
  color:var(--primary);
  font-weight: 600;
  border: none;
  border-bottom: 1px solid var(--primary);
} */
.orderpage-headerleft {
  display: flex;
  /* gap: 20px; */
  align-items: center;
  justify-content: space-between;
}

.border-grey {
  padding-right: 20px;
  border-right: 1px solid var(--black);
  margin-right: 20px; /* Space after the border */
}
.orderheader-right{
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap:10px
}

.orderheader-right p{
  color:var(--primary);
  text-decoration: underline;
}
.shipto{
  width:40%;
  border-right: 1px solid var(--bordergrey);
}
.payment-method{
  width: 20%;

}
.paymentamount{
  border-left: 1px solid var(--bordergrey);
  width:40%;
  padding-left: 20px;

}

.total{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orderupdates{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--bordergrey);
  border-radius: 10px;
  margin:20px 0px;
  padding:20px 15px;
}
.ordervalueleft{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:15px;
}