.saved-item-card{
    display: flex;;
    align-items: center;
    justify-content:space-between;
    gap:15px;
   background-color: #F6F5FF;
    border-radius: 10px;
    padding: 15px;
}
.saved-item-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}
.empty-saved{
    max-width: 600px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    gap:15px;
}
.savelaterleft{
    display: flex;
    align-items: center;
    gap:10px;
    width: 100%;
}
.saved-item-actions .cart-button{
    width: 100%;
    display: flex;
    padding: 10px 13px;
}
.saved-items-grid{
    display: grid;
 grid-template-columns: repeat(2,1fr);
    gap:10px;
}
.rating p{
    display: flex;
    gap:5px;
    justify-content: space-between;
    align-items: center;
}
