/* Modal Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* dim background */
  display: flex;
  justify-content: flex-end; /* Sidebar will align to right */
  z-index: 9999;
  transition: background 0.3s ease-in-out;
}
.firstcolumn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:15px;
    margin: 8px 0px;;

}
/* Modal Container */
.addaddresspopup {
  background: white;
  width:auto; /* Adjust width as needed */
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  animation: slideInRight 0.3s ease forwards;
  position: relative;
  border-radius: 0;
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Header Styling */
.addresspopup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--borderGrey);
  
  
}
.addresspopup-header button{
  padding:5px 10px;
}
.addresspopup-header h2 {
  font-size: 20px;
  color: var(--black);  /* Customize based on your color theme */
  font-weight: 500;
}
.address-section input{
  width:66%;

}
/* .address-section button{
  width:30%;
} */
.address-section{
    display: flex;
    align-items: center;
   
    justify-content: flex-start;
    gap:20px;
     margin-bottom: 8px;

}
.selectone,.chooseaddress{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
}
.topsection{
  margin-bottom: 0px;;
}
.input-field{
  margin-bottom: 15px;;
}
.useaddress{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.useaddress input{

  margin-right: 7px;
}
.useaddress label{
  font-size: 14px;
  width:90%;
  color:#222222;
  font-weight: 500;
}
.useaddress button{
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.addresstype h2{
  font-size: 16px;
  color:#222222;
}
.addresstype {
  padding:0px 20px;
}
.instructions{
  height:100px;
}
.phone-input{
  border:none;
  border-radius:10px;
}
/* Styling the PhoneInput */
.phone-input {
  width: 100%; /* Full width */
  height: 40px; /* Adjust the height */
  padding: 10px; /* Add some padding */
  border-radius: 10px; /* Rounded corners */
  background-color:var(--lightbackground); /* Light gray background */
  border: 1px solid white; /* Remove border by default */
 
}

/* Focus state: change background color when the input is focused */
.phone-input:focus {

  outline: none; /* Remove default outline */
   background-color:var(--lightbackground); 
}
