.orderapagefull{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap:30px;
}
p{
   font-family: 'Radhika Trial', sans-serif;
    font-weight: 400;
}
/* .product-list-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:5px;
} */
/* .productpageleft{
    width:80%;
} */
.productpageright{
  

    width:28%;
}
.product-list-item2{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:10px;
  margin: 10px 0px;

}
.product-list-item2 .content-area2{
  align-items: stretch;
  display: flex;
  flex-direction: column;
}
.main-containerproduct{
  margin:20px 0px;
}
.product-list-item2 .image-wrapper2{
  width:30%;
  position: inherit;

}
.product-list-item2 .image-wrapper2 img{
  width:100px;
  height:100px;
}
.fullwidth-banner .section-1{
    width:100%;
      margin:30px 0px;
}
.popularproductcard{
      background-color: var(--lightbackground);
    border-radius: 10px;;
  padding:15px;

}
.orderpageleft-2{
 width: 77%;
  padding:15px 0px;
  padding-top: 0px;;
  
}
.sectionsorder{
  margin-bottom:20px;
  width: 100%;
}
.yourorder-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;;
  /* margin: 20px 0px; */
  /* gap:40px; */
}
.search-inputbutton{
  border: 1px solid var(--primary);
  display: flex;
  align-items:center;
  justify-content:flex-start;
  border-radius: 10px;
 width: 100%;
  
}
.search-inputbutton input{
padding:0px 10px;
background-color: transparent;
  margin: 0px;

}
.search-inputbutton button{
  padding: 12px;
}
.search-icon{
  width: 18px;
  height: 18px;
}
.dateorder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:30px;
  width: 60%;
}
.sectionsorder{
   padding:15px;
  border-radius: 10px;
  background-color: var(--lightbackground);
}
.custom-dropdown {
 
 cursor: pointer;
  outline: none;
 
}
.error-message{
  font-family: 'Radhika Trial', sans-serif;
    font-weight: 400;
  color:var(--grey);
  font-size: 18px;
  text-align: center;

}

.custom-dropdown option {
  padding: 40px;
}


.image-wrapper2 img{
  width:50px;
  height: 50px;
  border-radius: 10px;
}

@media(max-width:768px){
  .orderapagefull{
    display: flex;
    flex-direction: column;
  }
  .orderpageleft-2{
    width: 100%;
  }
  .productpageright{
    width: 100%;
  }
  .orderlistitem{
display: flex;
flex-direction: column;
gap:10px;
align-items: flex-start;
  }
  .image-wrapper2 {
    width: 100%;
    height: 100%;
  }
  .image-wrapper2 img{
    width: 100% !important;
    height: 100% !important;
  }
  .orderimage{
    width: 100%;
  }
  .flexcontainer{
    width: 100% !important;
    gap:10px;
  }
  .yourorder-header{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .dateorder{
    width: 100%;
    gap:10px;
  }
  .orderpageheader{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .border-grey{
margin-right: 0px;;
padding-right: 5px;
  }
  .ordervalue{
    padding-left: 5px;;
  }
  .orderdetails{
    display: flex;
    flex-direction: column;
  }
  .shipto,.payment-method,.paymentamount{
    width: 100%;
    border: none;
  }
  .paymentamount{
    padding-left: 0px;
  }
  .orderupdates{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
    
  }
  .review-button-container{
    align-items: center;
    display: flex;
    margin-top: 0px !important;;
  }
  .return-refund-button-container{
    margin-top: 0px !important;;
  }
  .review-button-container .bordered-button{
    margin:0px;
  }
  .rating-stars{
    gap:3px;
  }
}