.category-main{
    width:100%;
    padding:0px 0px;
    }
.category-section ul{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap:20px;
    margin:30px 0px;
    align-items: center;
    justify-content: space-between;
    
}
.category-list{
    padding-left: 0px;
}
/* .category-list{
    display:flex;
    align-items: center;
    justify-content: space-between;
  
} */
.category-section .category-list li button{
    background:#F3F2FF;
    padding:8px 5px;
    display:flex;
    border-radius: 10px;
    width:100%;
    align-items: center;
    justify-content: center;
    gap:10px; 
     font-family: 'Radhika Trial', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
/* .category-linksbutton button{
        background:#F3F2FF;
    padding:8px 5px;
    display:flex;
    border-radius: 10px;
    width:100%;
    align-items: center;
    justify-content: center;
    gap:10px; 
     font-family: 'Radhika Trial', sans-serif;
    font-weight: 500;
    font-size: 16px;
} */
 @media (max-width: 768px) {
 .category-section ul {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 12px;
    white-space: nowrap;
    padding: 10px 15px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

    /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
  }


   .category-section ul::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .category-section ul::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  .category-section ul::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  .category-section ul::-webkit-scrollbar-thumb:hover {
    background: #666;
  }

  .category-section .category-list li {
    flex: 0 0 auto;
    min-width: max-content;
  }
  .category-section .category-list li button {
    width: 100%;
    font-size: 14px;
    padding: 8px 10px;
  }
}