/* @media(max-width:900px){
     .topsection{
        display:grid;
        grid-template-columns: 1fr;
    }
    .bottomsection{
        display: grid;
        grid-template-columns: 1fr;
    }
} */
 /* .sidebar{
    max-width: 280px;
    width:100%;
 } */
 /* .main-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
 } */
/* Wrap the layout properly */
.layout-wrapper {
  display: flex;
  /* justify-content: space-between;
  align-items: flex-start; */
  min-height: 100vh;
}
.layout-content{
    width: 100%;
}
/* .sidebarcontent{
    width: 30%;
} */
/* Fixed width for sidebar, based on .sidebar-wrapper (16rem = 256px) */
/* .layout-content {

  width: 100%;
  width: calc(100% - 16rem);
  padding: 20px;
} */



@media(max-width:768px){
    .layout-content {
    margin-left: 0;
    width: 100%;
    padding:5px;
  
}
.layout-wrapper{
    padding:0px 0px;
}
 .topsection{
        display:grid;
        grid-template-columns: 1fr;
    }
    .bottomsection{
        display: grid;
        grid-template-columns: 1fr;
    }
    
  .sidebar {
    width: 0px;
    min-width: 0px;
    padding: 0;
  
}
.inventory-sectionw{
    width: 100%;
}
.prodiucttabdsw,.producthistorts{
    width: 100%;
}

}
