.features{
    display:flex;
    align-items: stretch;
    justify-content: space-between;
    gap:20px;
    margin:30px 0px;
}
.delivery{

 padding:0px 30px;
}
.feature1{
    width: 100%;
    border: 1px solid var(--secondary);
    padding:20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}
.icon{
    background-color: var(--secondary);
    border-radius: 50%;
    padding:15px;
    color:white;
    border:9px solid var(--bordergrey);
    
}
.feature-content h3{
    font-size: 20px;
    margin:0px;
    color:var(--black);
    padding-bottom: 5px;
    font-weight: 500;

}
.feature-content p{
    font-weight: 400;
    font-size: 14px;
}

/* banner stylings */
.banner-section{
    padding:20px 0px;
 /* padding-top:40px; */
  /* padding-left: 30px; */
 /* padding-right: 30px; */
    background-color: var(--lightbackground);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:10px;
      margin:30px 0px;
}
.banner-content button{
    margin-top: 20px;;
}
/* .banner-content{
    width:60%;
} */
.banner-content button{
margin:0px;
margin-top: 5px;
}
.banner-content .banner-heading{
    margin: 0px 0px;
}
@media(max-width:768px){
.features,.banner-section{
    display: flex;
flex-direction: column;
}
.banner-content{
    padding-left: 20px;
}
}